.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  position: relative;

  @media (min-width: 600px) {
    padding: 0 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-image: url('https://taupe-mochi-8cdda8.netlify.app/images/cup-of-coffee.png');
  }
}

.contact__form {
  width: 100%;
  margin-top: 50px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact__form-heading {
  margin-left: -25px;
}

.contact__form-fields {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.contact__form-section {
  display: flex;
  margin-bottom: 15px;
}

.contact__input {
  flex: 1;
  margin-left: 8px;
  border: 1px solid #aaaaaa;
  padding: 5px;
}

.contact__input--big {
  margin-left: 0px;
  height: 180px;
  z-index: 2;
  padding: 5px;
}

.contact__form-button {
  padding: 3px 15px;
  align-self: flex-end;
  margin-right: 20px;
  z-index: 2;
}

.contact__image--mobile {
  z-index: 1;
  position: absolute;
  width: 420px;
  height: 540px;
  bottom: -250px;
  right: -60px;

  @media (min-width: 600px) {
    display: none;
  }
}

.contact__image--desktop {
  z-index: 1;
  position: absolute;
  width: auto;
  height: 1120px;
  bottom: -580px;
  right: -33px;
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}
