@import 'variables';

.content {
  min-height: 100vh;

  &--dark {
    padding: 20px;
    background-color: black;

    @media (min-width: 600px) {
      padding: 100px 50px;
    }

    .content__heading {
      color: $white-font;

      @media (min-width: 600px) {
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
  }

  &__heading {
    font: $heading;
  }

  &__map {
    border: 1px solid black;
    height: 600px;
    width: 600px;
  }

  &__map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    @media (min-width: 600px) {
      flex-direction: row;
    }
  }

  &__block {
    margin: 30px 0;
    height: 200px;
    width: 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    @media (min-width: 600px) {
      flex: 0 1 22%;
    }

    a {
      text-decoration: none;
    }
  }

  &__block-img {
    height: 95%;
    width: 100%;
  }

  &__block-heading {
    font: $sub-heading;
    color: $white-font;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }
}
