.horeca {
  background-color: #f5f5f5;
  padding: 20px 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 600px) {
    padding-bottom: 200px;
  }
}

.horeca__heading {
  margin-top: 0;
  font-size: 2em;
  color: #000000;
  margin-bottom: 360px;

  @media (min-width: 600px) {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 3em;
  }
}

.horeca__cta {
  z-index: 2;
  background-color: #000000;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  a {
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;

    @media (min-width: 600px) {
      margin-bottom: 0px;
      font-size: 36px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: 600px) {
    width: 400px;
  }
}

.horeca__ropes {
  position: absolute;
  top: 550px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  @media (min-width: 600px) {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.horeca__koffie-zak {
  z-index: 1;
  position: absolute;
  top: 230px;
  left: 150px;
  width: 160px;
  height: 320px;

  @media (min-width: 600px) {
    top: 620px;
    left: 39%;
    width: 320px;
    height: 560px;
  }
}
