@import 'variables';

.nav {
  background-color: #000000;
  z-index: 2;

  @media (min-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.nav-menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  background: linear-gradient(
    to bottom,
    black 85px,
    rgba($white-font, 0.7) 85px
  );
  width: 100%;
  z-index: 1000;
  transition: height 0.3s ease;

  @media (min-width: 600px) {
    padding: 10px 0;
    height: 85px;

    &.nav-menu--visible {
      height: 180px;
    }

    &.nav-menu--visible--about {
      height: 250px;
    }
  }
}

.nav__section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    flex: 0 1 38%;
  }
}

.nav__brand-motto {
  display: none;
  font-size: 32px;
  color: $black-font;
  padding-top: 10px;
  position: fixed;
  right: 10px;
  top: 50px;
  font-style: italic;
  text-decoration: underline;
  z-index: 999;
  cursor: default;

  @media (min-width: 600px) {
    display: block;
  }
}

.nav__logo {
  height: 50px;
  width: auto;
  padding-top: 10px;

  @media (min-width: 600px) {
    padding-top: 0;
    height: 80px;
  }
}

.nav-heading {
  white-space: nowrap;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  padding: 15px;
  color: $white-font;
  cursor: default;

  a {
    text-decoration: none;
    color: $black-font;
  }

  @media (min-width: 600px) {
    font-size: 2.3vw;
  }
}

.nav-heading {
  .nav-heading-link {
    color: $white-font;
  }
}

.nav-heading-link {
  text-decoration: none;
  color: $black-font;

  &:hover {
    color: #5d5a6a;
    cursor: pointer;
  }
}

.nav-blocker {
  background-color: #000000;
  position: fixed;
  height: 60px;
  width: 100%;

  @media (min-width: 600px) {
    height: 85px;
    display: block;
  }
}

.nav-list {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  padding-left: 0;
  margin: 0;

  @media (min-width: 600px) {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &.about-visible {
    height: 160px;

    @media (min-width: 600px) {
      height: 160px;
    }

    .nav-item {
      padding: 5px 0 5px 10px;
    }
  }

  &.order-visible {
    height: 160px;

    @media (min-width: 600px) {
      height: 100px;
    }

    .nav-item {
      padding: 5px 0 5px 10px;
    }
  }

  &.business-visible {
    height: 160px;

    @media (min-width: 600px) {
      height: 100px;
    }

    .nav-item {
      padding: 5px 0 5px 10px;
    }
  }

  &.contact-visible {
    height: 160px;

    @media (min-width: 600px) {
      height: 100px;
    }

    .nav-item {
      padding: 5px 0 5px 10px;
    }
  }
}

.nav-list--about {
  .nav-item-link {
    white-space: nowrap;
  }
}

.nav-item {
  color: $black-font;
  overflow: hidden;
  transition: padding 0.3s ease;
  flex: 0 1 27%;
  position: relative;
  z-index: 1000;

  @media (min-width: 600px) {
    color: #5d5a6a;
    flex: 0 1 100%;
    overflow: visible;
    padding-left: 10px;
  }
}

.nav-item-link {
  text-decoration: none;
  color: $black-font;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    color: #5d5a6a;
  }
}
