// Color palette
$black-font: #1c1b20;
$white-font: #fef9f5;
$yellow-boat-background-1: #ecebe9;
$yellow-boat-background-2f: #fffef2;
$boat-yellow: #bfa40d;
$brown-coffee: #533116;
$blue-sea: #396c9b;

// fonts
$heading: 700 48px 'Roboto';
$button: 700 24px 'Roboto';
$sub-heading: 300 24px 'Roboto';
$paragraph: 300 16px 'Arial';
$cta: 300 16px 'Inconsolata';
