* {
  font-family: roboto;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #d9d5c8;
}

.nav {
  background-color: #000000;
  @media (min-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.nav-menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 0px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;

  @media (min-width: 600px) {
    padding: 0 20%;
    justify-content: space-between;
  }
}

.nav-heading {
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  padding: 15px;
}

.nav-blocker {
  background-color: #000000;
  position: fixed;
  height: 70px;
  width: 100%;
  @media (min-width: 600px) {
    display: block;
  }
}

.nav-list {
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  transition: height 0.3s ease;
  padding-left: 0;
  margin: 0;

  &.visible {
    height: 100px;

    .nav-item {
      padding: 5px 0;
    }
  }
}

.nav-item {
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: padding 0.3s ease;
}

.nav-item-link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    color: #eaacff;
  }
}

/* ------------------------------- */
/* Page */
.why {
  padding: 0px;
}

.page {
  padding-top: 65px;
}

/* ------------------------------- */

/* Home Page */

.home {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__heading-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;

  @media (min-width: 600px) {
    min-width: 800px;
    padding: 0 20%;
  }
}

.home__heading {
  flex: 0 1 100%;
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-style: italic;

  @media (min-width: 600px) {
    font-size: 2rem;
  }
}

.horizontal-line {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;

  @media (min-width: 600px) {
    margin-left: 50%;
    /* transform: translateX(-30.5%); */
  }
}

.home__image-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    max-width: 1080px;
    justify-content: center;
  }
}

.home__image {
  /* width: 100%; */

  @media (min-width: 600px) {
    width: 50%;
    /* height: 600px; */
    /* flex: 0 1 50%; */
  }
}

.home__coffee-cups {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 40%;
  align-items: center;
  flex-direction: column;
}

.home__coffee-cup {
  position: relative;
  cursor: pointer;

  @media (min-width: 600px) {
    height: 200px;
  }
}

.home__coffee-cup-image {
  width: 100%;
  max-width: 150px;
}

.home__coffee-cup-text {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  width: 300px;
  text-align: center;
  left: -73px;

  @media (min-width: 600px) {
    text-align: left;
    width: auto;
    color: #ffffff;
    font-size: 2rem;
    transform: translateX(-20px);
    opacity: 0;
  }
}

.home__coffee-cup:hover .home__coffee-cup-text {
  opacity: 1;
  transform: translateX(0); /* Move text back to its original position */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home__coffee-cup-text--1 {
  @media (min-width: 600px) {
    bottom: 20px;
    left: 0px;
    right: -50px;
    width: 100px;
  }
}

.home__coffee-cup-text--2 {
  @media (min-width: 600px) {
    top: 20px;
    left: 0;
    right: 20px;
  }
}

.home__coffee-cup-text--3 {
  @media (min-width: 600px) {
    bottom: 20px;
    left: 20px;
  }
}

Í .main-video {
  @media (min-width: 600px) {
    width: 800px;
    height: 600px;
  }
}
