@import 'modules/nav';
@import 'modules/cta';
@import 'modules/home';
@import 'modules/hero';
@import 'modules/text';
@import 'modules/horeca';
@import 'modules/contact';
@import 'modules/content';

* {
  font-family: roboto;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  background-color: #d9d5c8;
}

.why {
  padding: 0px;
}

.page {
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
